#education {
    overflow: hidden;
}

#education .services__group{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

@media(max-width: 900px){
    #education .services__group{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px){
    #education .services__group{
        grid-template-columns: 100%;
    }
}